<html>
    <h1>
        User Data     
    </h1>   
    <h2>
        <span><a href="/dashboard"> User Data</a></span> / <span><a href="/dashboard/profile">User Profile</a></span> 
    </h2>
 
    <table>
        <tr>
            <th>total signed up: {{ .total_signed_up}}</th>
            <th>active sessions today: {{ .sessions_today}}</th>
            <th>average sessions in last 7 days: {{ .active_average}}</th>
        </tr>
        <tr>
            <th>Email</th>
            <th>Name</th>
            <th>Singup At</th>
            <th>Number Of Times Logged In</th>
            <th>Last User Session</th>
        </tr>
    {{ range .list}}
        <tr>
            <td>{{ .Email}}</td>
            <td>{{ .Name}}</td>
            <td>{{ .CreatedAt }}</td>
            <td>{{ .LoggedIn}}</td>
            <td>{{ .SessionAt}}</td>
        </tr>
    {{ end }}
 
    </table> 
</html>
<style>
    td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

</style>