<html>
    <h1>
        <span>
            <a href="/signup">Signup</a>
        </span> 
        <span>/
            <a href="/login">Login</a>
        </span>
    </h1>
    <h1>
        Login
    </h1>
    <h2>
        <form method="post" action="/login">
            <p>
                <label for="email">Email</label>
                <input type="text" name="email" id="email"/>
            </p>
            <p>
                <label for="password">Password</label>
                <input type="text" name="password" id="password"/>
            </p>

            <input type="submit" />
        </form>
    </h2>
    <h2>
        <a href="/login/facebook">Login With Facebook</a>
    </h2>
    <h2>
        <a href="/login/google">Login With Google</a>
    </h2>
</html>