<html>
    <h1>
        <a href="/signup">Signup</a>
    </h1>
    <h1>
        <a href="/login">Login</a>
    </h1>
    <h2>
        <form method="post" action="/login">
            <p>
                <label for="email">Email</label>
                <input type="text" name="email" id="email"/>
            </p>
            <p>
                <label for="password">Password</label>
                <input type="text" name="password" id="password"/>
            </p>

            <input type="submit" />
        </form>
    </h2>
    <h2>
        <a href="http://localhost:3000/login/facebook">Facebook</a>
    </h2>
    <h2>
        <a href="http://localhost:3000/login/google">google</a>
    </h2>
</html>