<html>
    <h1>
        User Profile
    </h1>
    <h2>
        <span><a href="/dashboard/profile">User Profile</a></span> / <span><a href="/dashboard"> User Data</a></span> / 
        {{if .couldReset}}
        <span>
            <a href="/user/password-view">Reset Password</a> 
        </span> / 
        {{end}}
        <span><a href="/user/logout">Logout</a></span> 
    </h2>
    <br>
    <h2>
        <p>{{ .name }}</p>
        <P>{{ .email }}</P>
    </h2>
    <h2>
       <p><a href="/user/name-view">Reset Name</a></p>
    </h2>
</html>