<html>
    <h1>
        Reset Password
    </h1>
    <h2>
        <span><a href="/dashboard/profile">User Profile</a></span> / <span><a href="/dashboard"> User Data</a></span> / 
        {{if .couldReset}}
        <span>
            <a href="/user/password-view">Reset Password</a> 
        </span> / 
        {{end}}
        <span><a href="/user/logout">Logout</a></span> 
    </h2>
    <h2>
        <form method="post" action="/user/password">
            <p>
                <label for="old">Old Password</label>
                <input type="text" name="old" id="old"/>
            </p> 
            <p>
                <label for="new">New Password</label>
                <input type="text" name="new" id="new"/>
            </p>
            <p>
                <label for="confirm">Confirm Password</label>
                <input type="text" name="confirm" id="confirm"/>
            </p>
            <input type="submit" />
        </form>
    </h2>
    
</html>