<html>
    <h1>
        Reset Name
    </h1>
    <h2>
        <span><a href="/dashboard/profile">User Profile</a></span> / <span><a href="/dashboard"> User Data</a></span> / 
        {{if .couldReset}}
        <span>
            <a href="/dashboard/resetPassword">Reset Password</a> 
        </span> / 
        {{end}}
        <span><a href="/user/logout">Logout</a></span> 
    </h2>
    <br>
    <h2>
        <p>Hi {{ .name}}</p>
        <form method="post" action="/user/name">
            <p>
                <label for="name">Reset Name</label>
                <input type="text" name="name" id="name"/>
            </p>
 
            <input type="submit" />
        </form>
    </h2>
</html>